.venv
.vscode
.pdm-python
__pycache__
.ruff_cache
.mypy_cache
data/raw/
meta/
data/backup/
notebooks_gino/
*.parquet
data/processed/*.csv
data/processed/*.parq
config/**
*.log
*.pptx
.DS_Store
*.egg-info
*reference.json
.lycheecache
.notebookcache
**/personal.ipynb
config.toml
.aider*
data/processed/**
data/Gino/**
dev/
Gino/
.current_values.json
Gino_notes.md
app_comm_sample.py
scratchPad.txt
demo_apartment_community.py
scratchPad.txt
references/
presentations/